/* h1{
    text-align: center;
    text-transform: capitalize;

}
p{
    font-family : Times New Roman ;
}
#outer {
    font: size 25px; 
}
#inner {
    font: size 10px ;
}
#green {
    height: 100px;
    width: 100px;
    background : rgb(5, 185, 5);
    border: 2px;
    border-radius :50px;   
}
#red {
    height: 100px;
    width: 100px;
    background : rgb(230, 8, 8);
    border: 2px;
    border-radius :50px; 
}
#yellow {
    height: 100px;
    width: 100px;
    background : rgb(253, 216, 7);
    border: 2px;
    border-radius :50px; 
}
#masterdiv {
    border : 100px brown 30px 

} */
* {
    padding : 0px;
    margin : 0px;
    background-color:white;
}
#Navbar {
    height : 60px;
    background-color: #0f1111;
} 
#logo {
    color : #f08804;
    font-size: 25px;
}
button {
    background-color :#f08804;

}
a{
    margin-right: 200px;
    text-decoration: none;
    }
#box3 {
    width :100px
}
#box2{
    width :100px
}
#box1 {
    width :100px
}